/* Color Palette

# - #11437c
# - #1b1b1b
# - #435ada
# - #ffffff
# - #0752b5
# - #474747
*/

/* Global styles 
------------------------------------*/
body {
    background-color: #1b1b1b;
    text-align: center;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
}

h1{
    color: #11437c;
    font-size: 36px;
    margin-bottom: 10px;
        font-family: 'Notable', sans-serif;
}
h2{
    color:  #435ada;
    font-size: 36px;
    margin-bottom: 8px;
        font-family: 'Notable', sans-serif;
}
h3{
    color:#0752b5;
    font-size: 19px;
    margin-bottom: 6px;
        font-family: 'Notable', sans-serif;
}
h4{
    color: #474747;
    font-size: 18px;
    margin-bottom: 4px;
}
p{
    color: white;
    font-size: 16px;
    margin-bottom: 4px;
}
footer{
    text-align: center;
    padding: 20px;
    background-color: #1b1b1b;
    color: white;
    font-size: 14px;
}
header{
    text-align: center;
    padding: 20px;
    background-color: #1b1b1b;
    color: white;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}



/* Header & Footer 
------------------------------------*/



/* Work Experience
------------------------------------*/



/* Education
------------------------------------*/